@import url('../../index.css');

header {
  background: var(--background);
  border-bottom: 1px solid var(--border);
}

.logo {
  color: var(--text-color-primary)
}

nav .link {
  color: var(--text-link);
}

nav .link:hover {
  color: var(--text-link-hover);
}

.header-buttons:hover {
  background: var(--background-hover);
}